<!DOCTYPE html>
<html>
    <head>
        <title>Hawaii weather stations APIs</title>
    </head>
    <body>
        <div style="text-align: center;">
        <h2 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Welcome to the Hawaii weather stations API!</h2>
    </div>
    <div style="display:inline-block; margin-left: 30%;">
        <p style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Available Routes:<br/>
            <ul style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
                <li>/api/v1.0/precipitation</li>
                <li>/api/v1.0/stations</li>
                <li>/api/v1.0/tobs</li>
                <li>/api/v1.0/&lt;start></li>
                <li>/api/v1.0/&lt;start>/&lt;end></li>
            </ul>
        </p>
    </div>
    </body>
</html>


